repos:
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: uv run pylint
        language: system
        types: [python]
        require_serial: true
        args: [
            "-rn", # Only display messages
            "-sn", # Don't display the score
        ]
